<html>
    <head>
        <title>Statystyki użycia</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="public/js/refresh.js"></script>
    </head>
    <body>
        <center>
            <div class="container">
            <h1>CPU (<%= CPUMODEL %> x<%= CPUCOUNT %>):</h1>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= CPU %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= CPU %>%">
                    <%= CPU %>%
                </div>
              </div>
        <h1>RAM:</h1>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="<%= RAM %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= RAM %>%">
                <%= RAM %>%
            </div>
          </div>
        </div>
        </center>
    </body>
</html>